.HeaderImgMain{
    background: url(https://previews.123rf.com/images/kentoh/kentoh0812/kentoh081200213/3985403-tv-channel-movie-guide-on-abstract-background.jpg);
    min-height: 300px;
    justify-content: center;
}